* {
  margin: 0 !important;
  padding: 0 !important;
  outline: 0 !important;
  box-sizing: border-box !important;
}
body {
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
}
body, input, button {
  font: 14px 'Roboto', sans-serif;
}