@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  margin: 0 auto !important;
  padding: 0 !important;
  /*outline: 0 !important;
  box-sizing: border-box !important; */
}
body {
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  background: #f9f9f9;
  font-size: 16px;
}

.hero-full{
  display:block;
 }

 .hero-mobile{
  display:none;
 }

.first-column {
  padding-right: 1rem !important;
}

.second-column {
  padding-left: 1rem !important;
}

.overlay-image,
.overlay-brand {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.overlay-content:hover .overlay-image {
  opacity: 0.7;
}

.overlay-content:hover .overlay-brand {
  opacity: 0.4;
}

@media only screen and (min-width: 992px) {
  .nineCol {
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11.111111%;
    flex: 0 0 11.111111%;
    max-width: 11.111111%;

    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .first-column {
    padding-right: 0rem !important;
  }

  .second-column {
    padding-left: 0rem !important;
    margin-top: 1.5rem !important;
  }
}

@media (max-width: 640px) and (min-width: 320px){
  .hero-full{
   display:none;
  }

  .hero-mobile{
   display:block;
  }
}